body {
    background-color: #121212;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: #0d6efd;
}

li {
    color: #0d6efd;
}
.card {
    background-color: #1e1e1e;
    border: none;
    border-radius: 15px;
}

.card-title {
    color: #0d6efd;
}

input.form-control {
    width: 250px;
}

button.btn-primary {
    background-color: #0d6efd;
    border: none;
}

button.btn-primary:hover {
    background-color: #0b5ed7;
}
